[submodule "dependencies/siaskynetpp"]
	path = dependencies/siaskynetpp
	url = https://github.com/xloem/siaskynetpp.git
[submodule "dependencies/libbitcoin-system"]
	path = dependencies/libbitcoin-system
	url = https://github.com/libbitcoin/libbitcoin-system
	branch = version3
[submodule "dependencies/libbitcoin-protocol"]
	path = dependencies/libbitcoin-protocol
	url = https://github.com/libbitcoin/libbitcoin-protocol
	branch = version3
[submodule "dependencies/libbitcoin-network"]
	path = dependencies/libbitcoin-network
	url = https://github.com/libbitcoin/libbitcoin-network
	branch = version3
[submodule "dependencies/libbitcoin-client"]
	path = dependencies/libbitcoin-client
	url = https://github.com/libbitcoin/libbitcoin-client
	branch = version3
[submodule "dependencies/libzmq"]
	path = dependencies/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "dependencies/libbitcoin-explorer"]
	path = dependencies/libbitcoin-explorer
	url = https://github.com/libbitcoin/libbitcoin-explorer.git
	branch = version3
[submodule "dependencies/libsecp256k1"]
	path = dependencies/libsecp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "dependencies/icu"]
	path = dependencies/icu
	url = https://github.com/unicode-org/icu.git
[submodule "dependencies/ltfs"]
	path = dependencies/ltfs
	url = https://github.com/LinearTapeFileSystem/ltfs.git
[submodule "dependencies/fuse++"]
	path = dependencies/fuse++
	url = https://github.com/xloem/fusexx
